<div class="new-note-box">
  <%= form_with model:note do |f| %>
  <div class="new-form note-contents note-contents3">
    <div class="form-group">
      <label for="inputTitle">タイトル</label>
      <!--バリデーションエラー-->
          <%= render '/layouts/validates', validates: @note %>
      <%= f.text_field :title, autofocus: true, id:"inputTitle",  placeholder: "このページにタイトルを付けましょう",class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="inputNote">ノート✍ </label>
          <!--バリデーションエラー-->
          <%= render '/layouts/validates', validates: @note %>
      <%= f.text_area :body, autofocus: true, id:"inputNote", placeholder: "ノート本文",class: "form-control new-form-body" %>
    </div>

    <div class="new-note-icon">
      <div class="form-group"><!--動画ラベル-->
        <label for="inputUrl"><i class="fas fa-video"></i></label>
       </div>

      <div class="form-group"><!--画像-->
        <label for="inputImage">
        <%= f.file_field :image, style:"display:none;", accept: "image/*",autofocus: true, id:"inputImage", class: "hidden" %>
        <i class="far fa-image"></i>
        </label>
      </div>

      <div class="form-group">
        <label for="inputTag"><i class="fas fa-tag"></i>タグ</label>
        <%= f.select :tag_id, options_from_collection_for_select( Tag.all, :id, :name, selected: f.object.tag_id), include_blank: true %>
      </div>
    </div>

    <div class="form-group mt-3"><!--動画-->
      動画投稿は <%= link_to 'Youtube', 'https://www.youtube.com/', target: "_blank", class: 'link' %> よりお願いします
      <%= f.text_field :url, autofocus: true, id:"inputUrl", placeholder: "Youtubeの埋め込みURL",class: "form-control mt-2" %>
    </div>

    <div class="new-form-actions">
      <%= f.submit "作成する✓",class: 'btn new-form-btn' %>
    </div>
  <% end %>

</div>

<!--サイド-->
<div class="side-bar">
  <div class="to-tos">
    <div>※投稿可能な画像及び動画について</div>
    <div><%= link_to "利用規約", tos_notes_path, class: 'link' %>にて必ずご確認下さい</div>
  </div>

  <div class="to-manual">
    <h2>動画投稿ガイド</h2>
      <ul>
        <li>Youtubeで動画を投稿する<br>
          （公開・限定公開の選択OK）
        </li>

        <li>投稿した動画の<u>｢埋め込みURL｣</u>をコピペして完了！<br>
            <span>(共有 > 埋め込む > src=""の中をコピー)</span>
        </li>
      </ul>
      <p class="manual-tape"> ※ショート動画は「埋め込みURL」の取得が出来ない為投稿できません</p>
      <p class="manual-tape">　<%= link_to manual_notes_path do %>詳しい手順はこちら<i class="far fa-hand-point-left"></i><% end %></p>
    </div>
  </div>
</div>