<div class="col-8 form">
  <%= form_with model:note do |f| %>
    <div class="form-group">
      <label for="inputTitle">タイトル</label>
      <!--バリデーションエラー-->
          <%= render '/layouts/validates', validates: @note %>
      <%= f.text_field :title, autofocus: true, id:"inputTitle",  placeholder: "このページにタイトルを付けましょう",class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="inputImage">画像</label><br>
      <%= f.file_field :image, accept: "image/*",autofocus: true, id:"inputImage" %>
    </div>

    <div class="form-group">
      <label for="inputUrl">動画🎬　動画の投稿はYoutubeよりお願いします→<%= link_to "https://www.youtube.com/","https://www.youtube.com/",target: "_blank", class: 'link' %></label>
      <%= f.text_field :url, autofocus: true, id:"inputUrl", placeholder: "Youtubeの埋め込みURLを貼ってください　記号（” )不要",class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="inputNote">ノート✍ </label>
          <!--バリデーションエラー-->
          <%= render '/layouts/validates', validates: @note %>
      <%= f.text_area :body, rows: '5', autofocus: true, id:"inputNote", placeholder: "ノート本文",class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="inputTag">タグ</label>
      <%= f.select :tag_id, options_from_collection_for_select( Tag.all, :id, :name), include_blank: true %> <!--, {}, {class: 'form-control'}-->
    </div>
    
    <div class="form-actions">
      <%= f.submit "✍",class: 'btn btn-outline-secondary'%>
    </div>
  <% end %>
</div>

<!--サイド-->
<div class="col-4">
  <p class="to-tos" style="font-size:1.2rem;">
    ※投稿可能な画像及び動画について<br>
    　<%= link_to "利用規約", tos_notes_path, class: 'link' %>にて必ずご確認下さい
  </p>

  <div class="to-manual">
    <h2 style="font-size: 1.4rem;">動画投稿ガイド</h2>
      <ol>
        <li>Youtubeで動画を投稿する<br>
          （公開・非公開の選択OK）
        </li>

        <li>投稿した動画の<u>｢埋め込みURL｣</u>をコピペして完了！<br>
            <span style="font-size:1rem">(共有 > 埋め込む > src=""の中をコピー)</span>
        </li>
      </ol>
      <p class="manual-tape"> ※ショート動画は「埋め込みURL」の取得が出来ない為投稿できません</p>
      <p class="manual-tape" style="font-size:1.2rem">　<%= link_to "詳しい手順はこちら☜", manual_notes_path %></p>
    </div>