<div class="col-7 form">
  <%= form_with model:note do |f| %>
    <div class="form-group">
      <label for="inputTitle">タイトル</label>
      <%= f.text_field :title, autofocus: true, id:"inputTitle",  placeholder: "ノートにタイトルをつけると検索で見つけやすくなります" %>
    </div>


    <div class="form-group">
      <label for="inputImage">画像</label>
      <%= f.file_field :image, accept: "image/*",autofocus: true, id:"inputImage" %>
    </div>

    <div class="form-group">
      <label for="inputUrl">動画🎬　動画の投稿はYoutubeよりお願いします→<%= link_to "https://www.youtube.com/","https://www.youtube.com/",target: "_blank" %></label>
      <%= f.text_field :url, autofocus: true, id:"inputUrl", placeholder: "Youtubeの埋め込みURLを貼ってください　記号（” )不要" %>
    </div>

    <div class="form-group">
      <label for="inputNote">ノート✍ </label>
          <!--バリデーションエラー-->
          <%= render '/layouts/validates', validates: @note %>
      <%= f.text_area :body, rows: '4', autofocus: true, id:"inputNote", placeholder: "ノート本文" %>
    </div>

    <div class="form-group">
      <label for="inputTag">タグ</label>
      <%= f.select :tag_id, options_from_collection_for_select( Tag.all, :id, :name), include_blank: true %>
    </div>
      <%= f.submit "✍",class: 'btn btn-outline-secondary w-25' %>
  <% end %>
</div>
<div class="col-5">
  <p>
    ※投稿可能な画像及び動画について<br>
    利用規約☟をよく読み違反とならないよう注意してください<br>
    　<%= link_to "利用規約：必ずご確認ください", tos_notes_path %>
  </p>

  <h2 style="font-size: 1.4rem;">
    動画投稿ガイド
  </h2>
  <h3 class="ml-2" style="font-size: 1.1rem;">主にやる事は２つ!<span style="font-size: 25px">✌</span></h3>
    <ol>
      <li>Youtubeで動画を投稿する<br>
        （公開・非公開の選択OK）
      </li>

      <li>投稿した動画の｢埋め込みURL｣をコピペして完了！<br>
　        共有 > 埋め込む > src=""の中をコピー<br>
           ※ショート動画は「埋め込みURL」の取得が出来ない為投稿できません
      </li>
    </ol>
    <%= link_to "詳しい手順はこちら☜", manual_notes_path %>