<!--投稿内容-->
　<%= note.created_at.strftime('%Y/%m/%d') %>
<h2 class="note-title"><%= note.title %></h2>

  <% if note.image.present? %>
    <%= image_tag note.image, class: 'show-img' %><!--画像-->
  <% end %>
  
  <% if note.url.present? %>
    <div class="video">
      <iframe width="560" height="315" src="<%= note.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  <% end %>

  <div class="note-body"><%= safe_join(note.body.split("\n"),tag(:br)) %></div>

  <div class="note-show-tag">
    <% if note.tag.present? %>
      <i class="fas fa-tag"></i><%= link_to note.tag.name, tag_path(note.tag.id) %>
    <% end %>
  </div>