　<%= note.created_at.strftime('%Y/%m/%d') %>
<h2 class="note-title"><%= note.title %></h2>

  <% if note.image.present? %>
    <p><!--画像-->
      <%= image_tag note.image, class: 'show-img' %>
    </p>
  <% end %>
  
  
  <% if note.url.present? %>
    <p class="video">
      <iframe width="560" height="315" src="<%= note.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </p>
  <% end %>

  <p><%= safe_join(note.body.split("\n"),tag(:br)) %></p>

  <p>
  <% if note.tag.present? %>
    <i class="fas fa-tag"></i><%= link_to note.tag.name, tag_path(note.tag.id) %>
  <% end %>
  </p>