<div class="note-contents">
  <div class="note-content">
    <!--æŠ•ç¨¿ï¾•ï½°ï½»ï¾žï½°æƒ…å ±-->
    <%= link_to user_path(note.user.id) do %>
      <%= render '/layouts/user_info', user: note.user %>
    <% end %>
    <!--æŠ•ç¨¿ä¸€è¦§-->
    <%= link_to (note_path(note.id)) do %>
      <%= render '/layouts/note_contents', note: note %><!--æŠ•ç¨¿å†…å®¹-->
      <p><%= render '/public/favorites/favorites_btn', note: note %><!--ã„ã„ã­ãƒœã‚¿ãƒ³-->
        <span>ðŸ’¬<%= note.note_comments.count %></span><!--ï½ºï¾’ï¾ï¾„ä»¶æ•°-->
      </p>
    <% end %>
  </div>
</div>