<div class="note_box2_6">
  <!--æŠ•ç¨¿ï¾•ï½°ï½»ï¾žï½°æƒ…å ±-->
  <%= link_to user_path(note.user.id) do %>
    <%= image_tag note.user.get_image, class: "rounded-circle" %>
    <%= note.user.name %>
  <% end %>
  <!--æŠ•ç¨¿ä¸€è¦§-->
  <%= link_to (note_path(note.id)) do %>
    <%= render '/layouts/note_contents', note: note %><!--æŠ•ç¨¿å†…å®¹-->
    <p><%= render '/public/favorites/favorites_btn', note: note %><!--ã„ã„ã­ãƒœã‚¿ãƒ³-->
      <span>ðŸ’¬<%= note.note_comments.count %></span><!--ï½ºï¾’ï¾ï¾„ä»¶æ•°-->
    </p>
  <% end %>
</div>