<%= link_to (note_path(note.id)) do %>
  <%= render '/public/shared/note_contents', note: note %><!--投稿内容-->
<% end %>
  <div class="note-btn-box">
    <div id="note_<%= note.id %>" class="favorite-comment-btn">
      <div class="favoritebtn"><%= render '/public/favorites/favorites_btn', note: note %></div><!--いいねボタン-->
      <%= link_to (note_path(note.id)) do %>
       <i class="far fa-comment"></i><%= note.note_comments.count %></span><!--ｺﾒﾝﾄ件数-->
      <% end %>
    </div>
  </div>
