<span style="font-size: 1.2rem"><%= link_to "My Music Note🖌", root_path, class: "ml-5 log-logo" %></span>
<div class="container mt-5">
  <div class="row">
    <div class="col-8 log-in admin-log-in">
      <div class="log-in-contents">
        <h1 class="text-center"><span class="admin-log-in-heading" style="font-size: 0.8em;">管理者</span>Log in</h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "admin/shared/error_messages", resource: resource %>
            <div class="log-in-field">
              <i class="fas fa-envelope mr-2"></i><%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="log-in-field">
              <i class="fas fa-key mr-2"></i><%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="log-in-field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="log-in-actions w-50">
              <%= f.submit "Log in", class: 'form-control btn btn-info' %>
            </div>
        <% end %>

        <%= render "admin/shared/links" %>
      </div>
    </div>
  </div>
</div>