<div class="top-contents">
  <div class="top-notice"><%= flash[:notice] %></div>
  <div class="top-title">
    <h1>My Music Note🖌<br>
  　 <h2>みんなで応援する 助け合う楽器演奏者の為のコミュニティサイト</h2>
  　　<%= link_to "－このサイトについて―", about_path,class: "about-link" %>
  　</h1>
　</div>

  <div class="top-link text-right mt-3">
    <%= link_to "Log in", new_user_session_path %>

    <%= link_to "Sign up", new_user_registration_path %>

    <%= link_to 'Guest (試し読み)', users_guest_sign_in_path, method: :post %>
  </div>
</div>