<div class="container">
  <div><%= flash[:notice] %></div>
  <%= image_tag 'top-logo.jpg' %>
  <div class="row">
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
  </div>
  
    <ul class="navbar-nav ml-auto"><!--navbarのﾅﾋﾞはmargin,leftがautoになっているつまり右寄せ-->
      <li>
        <%= link_to "Sign_in", new_user_registration_path, class:"mr-4" %>
      </li>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
    </ul>
</div>