<div class="container">
  <div class="row">
      <div class="col-12 main">

        <div class="row">
          <h1>タグ作成</h1>
          <!--検索フォーム-->
            <%= search_form_for @q, url: search_admin_tags_path, class: "form-inline" do |f| %>
              <%= f.search_field :name_cont, placeholder: "タグ検索",class: "form-control rounded-pill ml-4 mt-2" %>
              <%= button_tag type: "submit", class: "btn btn-default　rounded-pill mt-2" do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
        </div>

        <div class="row">
          <div class="col-8 mt-3">
            <!--バリデーションエラー-->
            <%= render '/layouts/validates', validates: @tag %>

            <!--タグ名入力フォーム-->
            <%= form_with model: @tag, url: admin_tags_path ,method: :post , class: "form-inline" do |f| %>
              <%= f.text_field :name,  placeholder: "タグ名を入力して新規作成",class: 'form-control w-50 my-3' %>
              <%= f.submit "✍",class: 'btn tag-form-btn' %>
            <% end %>
          </div>
        </div>

      <div class="row">
        <% @tags.each do |tag| %>
          <%= render '/admin/shared/tags', tag: tag %>
        <% end %>
        <%= paginate @tags, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>