<div class="container">
  <div class="row">
      <div class="col-12 main">
        <div class="row">
          <h1>タグ作成</h1>
        </div>
        <div class="row">
          <%= form_with model: @tag, url: admin_tags_path ,method: :post , class: "form-inline" do |f| %>
            <%= f.text_field :name,  placeholder: "タグ名を入力",class: 'form-control mt-3 mb-4' %>
            <%= f.submit "✍",class: 'btn tag-form-btn' %>
          <% end %>
        </div>

      <div class="row">
        <% @tags.each do |tag| %>
          <div class="tag">
          <%= link_to tag.name, admin_tag_path(tag.id) %>

          <%= link_to edit_admin_tag_path(tag.id) do %>
            <i class="far fa-edit  ml-3 mx-2"></i>
          <% end %>
          <%= link_to admin_tag_path(tag.id), method: :delete, data: {confirm: 'このタグを消しますか？'} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>