<div class="container">
  <div class="row">
     <div class="col-12 main">
        <div class="row">
          <h1>タグ作成</h1>
        </div>
        <div class="row">
          <%= form_with model: @tag, url: admin_tags_path ,method: :post , class: "form-inline" do |f| %>
            <%= f.text_field :name,  placeholder: "タグ名を入力",class: 'form-control mt-3 mb-4' %>
            <%= f.submit "✍",class: 'btn tag-form-btn' %>
          <% end %>
        </div>

      <div class="row">
        <% @tags.each do |tag| %>
          <%= tag.name %>
          <%= link_to "編集", edit_admin_tag_path(tag.id) %>
          <%= link_to "削除", admin_tag_path(tag.id), method: :delete, data: {confirm: 'このタグを消しますか？'} %>
        <% end %>
    </div>
  </div>
</div>