<div class="main">
  <h1 class="tag-show-heading"><%= @tag.name %> <i class="fas fa-tag"></i> のノート<span>(全<%= @tag.notes.count %>件)</span></h1>

    <% @tag_notes.each do |tag_note| %>
      <div class="note-contents note-contents2">
        <% if tag_note.user.is_deleted == true %>
          <p style="font-size:1.5rem;">※この投稿のユーザーは退会済です</p>
        <% end %>
        <%= link_to admin_user_path(tag_note.user.id) do %>
          <%= render '/layouts/user_info', user: tag_note.user %><!--投稿ﾕｰｻﾞｰ情報-->
        <% end %>
        <%= render '/admin/shared/note_index', note: tag_note %><!--投稿一覧-->
      </div>
    <% end %><!--each-->
    <%= paginate @tag_notes, theme: 'twitter-bootstrap-4' %>
</div>