<div class="container">
  <div class="row">
    <div class="col-12 col-md-12">
      <h1>ã‚³ãƒ¡ãƒ³ãƒˆä¸€è¦§</h1>
      <%= search_form_for @q, url: search_admin_note_note_comments_path do |f| %>
        <%= f.search_field :comment_cont, placeholder: "ã‚³ãƒ¡ãƒ³ãƒˆæ¤œç´¢" %>
        <%= f.submit 'ðŸ”', class: "btn-sm btn-outline-secondary" %>
      <% end %>

        <% @comments.each do |comment| %>
          <%= link_to admin_user_path(comment.user.id) do %>
            <%= render '/public/shared/user_info', user: comment.user %>
          <% end %>
          <%= link_to comment.comment, admin_note_path(comment.note.id) %>
          <%= link_to "å‰Šé™¤", admin_note_note_comment_path(comment.note, comment.id), method: :delete, data: {confirm: 'ã“ã®ã‚³ãƒ¡ãƒ³ãƒˆã‚’ç®¡ç†è€…ã¨ã—ã¦æ¶ˆã—ã¾ã™ã‹ï¼Ÿ'} %>
        <% end %>
    </div>
  </div>
</div>