<div class="main">
  <h1 class="tag-show-heading"><%= @tag.name %> <i class="fas fa-tag"></i> のノート<span>(全 <%= @tag_counts.count %>件)</span></h1>
  <% @tag_notes.each do |tag_note| %>
    <% if tag_note.user.is_deleted == false %>
      <div class="note-contents note-contents2">
        <%= link_to user_path(tag_note.user.id) do %>
          <%= render '/layouts/user_info', user: tag_note.user %><!--投稿ﾕｰｻﾞｰ情報-->
        <% end %>
        <%= render '/public/shared/note_index', note: tag_note %>
      </div>
    <% end %>
  <% end %>
  <%= paginate @tag_notes, theme: 'twitter-bootstrap-4' %>
</div>