<%= link_to root_path, class: "ml-5 log-logo" do %>My Music Note <i class="fas fa-pen-nib"></i> Top<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="log-in registrations-log-in">
      <div class="log-in-contents">
        <h1 class="text-center">Sign up<span class="registrations" style="font-size: 0.5em">ユーザー新規登録</span></h1>
            <%= form_with model: @user, url: user_registration_path do |f| %>
              <%= render "public/shared/error_messages", resource: resource %>
                <div class="log-in-field">
                  <i class="fas fa-envelope mr-2"></i><%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                </div>

                <div class="log-in-field registrations">
                  <i class="fas fa-signature"></i><%= f.label :name %>ニックネーム<br>
                  <%= f.text_field :name, class: 'form-control' %>
                </div>

                <div class="log-in-field">
                  <i class="fas fa-key mr-2"></i><%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> 文字以上)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
                </div>

                <div class="log-in-field">
                  <i class="fas fa-key mr-2"></i><%= f.label :password %>（確認用）<br />
                  <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
                </div>

                <div class="log-in-actions w-50">
                  <%= f.submit "Sign up", class: 'form-control btn btn btn-warning' %>
                </div>
              <% end %>
          <div class="registrations text-center mt-3">
            ユーザー登録済みの方☞<u><%= render "public/shared/links" %></u>
          </div>
      </div>
    </div>
  </div>
</div>
