<%= search_form_for @q, url: search_notes_path do |f| %>
  <%= f.search_field :title_or_body_cont, placeholder: "ノート検索" %>
  <%= f.submit '🔍', class: "btn-sm btn-outline-secondary" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-12">
      <%= flash[:notice] %>
      <h1>Notes</h1>
      <p>みんなのノート</p>
      <% @notes.each do |note| %>
      <%= render '/public/shared/note_index', note: note %>
      <% end %>

    </div>
  </div>
</div>