<div class="main manual">
  <h1 class="mb-3">⚘動画投稿ガイド</h1>
    <div class="manual-text">
      <ul>
        <li>Youtubeアプリを開く→ <%= link_to "https://www.youtube.com/","https://www.youtube.com/",target: "_blank", class: 'link' %></li>
        
        <li>作成（<%= image_tag 'manual1.jpg' %>若しくは<%= image_tag 'manual2.jpg' %>）をクリック→　動画をアップロードを選択
            <div><%= image_tag 'manual3.jpg', class: " my-4" %></div>
        </li>
  
        <li>"動画のアップロード画面"より、アップロードする動画を選択<br>
            ※ショート動画（最長６０秒、縦長の動画）は、埋め込みURLが取得できない為投稿する事ができません<i class="far fa-sad-tear"></i><br>
            　埋め込みURLは手順６で登場します<br>
        </li>
  
        <li>詳細設定<br>
            動画のタイトルや説明を入力<br>
        </li>
  
        <div class="manual-contents">
          <div class="manual-content">
            <li>公開設定</li>
            <p>"動画の要素設定"と"チェック"を済ませたら、最後に公開設定をします<br>
              <u>非公開</u>　<u>限定公開</u>　<u>公開</u>　を選択できますが...<br>
              　<span style="font-size: 1.2rem;"><u>限定公開 or 公開を選択してください</u></span><br>
              　※非公開にした場合再生できなくなってしまいます<i class="fas fa-wind"></i><br>
              　<u>限定公開</u><br>
              　→動画のリンクを知っている人だけが視聴できる設定です⚘
            </p>
          </div>
              <%= image_tag 'manual5.jpg', :size =>'375x180', class: 'ml-5 mt-3'  %>
        </div>
  
        <div class="manual-contents">
          <div class="manual-content">
            <li class="mt-4">埋め込み用リンクをコピー</li>
              <p>
                投稿した動画をYoutube上で再生してみましょう<br>
                再生画面下の「共有」ボタンから「埋め込む」を選択<br>
                URLが表示されたら　「src="URL"」のURLをコピーして投稿フォームに貼りつけます<br>
                ※「"」ダブルクォーテーションは不要
                </p>
                <%= image_tag 'manual9.jpg', :size =>'480x100', class: 'ml-5 mt-3'  %>
          </div>
                <%= image_tag 'manual8.jpg', :size => '400x300', class: "mb-5 mt-5 ml-5" %>
               </p>
        </div>
      </ul>
    </div>
</div>
 
 