<div class="container">
  <div class="row">
    <div class="col-12">
        <h1><%= @user.name %>さんのNote</h1>

      <%= flash[:notice] %>

        <!--ユーザー情報-->
          <%#= link_to edit_admin_user_path(@user.id) do %>
            <%= render '/public/shared/user_info', user: @user %>
            <%= @user.introduction %>
          <%# end %>

      <!--ユーザー投稿一覧-->
      <% @notes.each do |note| %>
        <%= render '/admin/shared/note_index', note: note %>
      <% end %>
    </div>
  </div>
</div>