<%= note.created_at.strftime('%Y/%m/%d') %>
<h2 class="note-title"><%= note.title %></h2>

  <!--画像-->
  <% if note.image.present? %>
    <%= image_tag note.image, class: 'show-img' %>
  <% end %>
  
  <% if note.url.present? %>
    <div class="video">
      <iframe width="560" height="315" src="<%= note.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  <% end %>

  <%= safe_join(note.body.split("\n"),tag(:br)) %>

  
  <% if note.tag.present? %>
    <div><i class="fas fa-tag"></i><%= link_to note.tag.name, admin_tag_path(note.tag.id) %></div>
  <% end %>
  