<!--管理者側詳細画面にて使用-->
<%= link_to (admin_note_path(note.id)) do %>
  <!--投稿内容-->
  <h2 class="note-title"><%= note.title %></h2>
   <p class="note-img">
    <% if note.image.present? %>
      <%= image_tag note.image,:size => '400x300' %>
    <% end %>
  </p>
  <p class="video">
    <% if note.url.present? %>
      <iframe width="560" height="315" src="<%= note.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <% end %>
  </p>

  <p><%= safe_join(note.body.split("\n"),tag(:br)) %></p>

  <p>
  <% if note.tag.present? %>
    <i class="fas fa-tag"></i><%= link_to note.tag.name, admin_tag_path(note.tag.id) %>
  <% end %>
  </p>

  <div class="note-btn">
          <!--いいねとコメント数-->
          <p class="favorites-btn">
            ♥<%= note.favorites.count %><!--いいね数-->
            <span class="ml-5" style="font-size: 1.2rem;"><i class="far fa-comment"></i><%= note.note_comments.count %></span><!--ｺﾒﾝﾄ件数-->
          </p>
          <!--削除ボタン-->
          <p class="edit-destory-btn">
            <span class="destroy-btn">
              <%= link_to admin_note_path(note.id), method: :delete, data: {confirm: 'このノートを管理者として消しますか？'} do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </span>
          </p>
        </div>
<% end %>