<div class="container">
  <div class="row">
    <div class="col-12 main">
      <h1>ユーザー検索<span class="ml-3" style="font-size: 1.5rem">(全<%= @results.count %>件)</span></h1>
      <!--検索フォーム-->
      <%= search_form_for @q, url: search_users_path do |f| %>
        <div class="row">
          <div class="col-3">
            <%= f.search_field :name_cont, placeholder: "ノート検索",class: "form-control rounded-pill" %>
         </div>
          <div class="9">
            <%= button_tag type: "submit", class: "btn btn-default　rounded-pill" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @results.present? %>
        <% @results.each do |user| %>
          <%= link_to (admin_user_path(user.id)) do %>
            <div class="users-box">
              <%= render '/layouts/user_info', user: user %><br>
              <%= user.introduction %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        一致する結果はありませんでした。o○
      <% end %>
    </div>
  </div>
</div>