<div class="main">
  <% if @user.id == current_user.id %>
    <h1 align="center">My Note</h1>
  <% end %>

  <%= flash[:notice] %>
      <% unless @user.is_deleted == true %><!--ﾕｰｻﾞｰが退会済じゃなければ-->
        <div class="user-info"><!--ユーザー情報-->
          <!--ﾛｸﾞｲﾝ中かつｹﾞｽﾄじゃなければuser/editへのﾘﾝｸ含める-->
          <% if @user.id == current_user.id && @user.email != 'guest@gesuto.com' %>
            <%= link_to edit_user_path(@user.id) do %>
                <%= render '/layouts/user_info', user: @user %><!--ユーザー情報-->

                  <!--編集ボタン-->
                  <%= link_to edit_user_path(@user.id), class: "ml-5 mr-2" do %>
                    <i class="far fa-edit"></i>編集
                  <% end %>

                  <!--ﾛｸﾞｲﾝ中ならﾕｰｻﾞｰのいいねした投稿一覧へのﾘﾝｸ-->
                  <% if @user.id == current_user.id && @user.email != 'guest@gesuto.com' %>
                    <%= link_to favorites_user_path(@user.id) do %>
                      <span class="ml-2">♥</span>一覧
                    <% end %>
                  <% end %>
                <!--自己紹介-->
                <p class="ml-1"><%= @user.introduction %></p>
            <% end %>
          <% elsif  @user.email == 'guest@gesuto.com' %><!--ｹﾞｽﾄﾕｰｻﾞｰの場合-->
            ゲストユーザーです<br>
            ユーザー登録をしてあなたも自分のノートを作ってみましょう！
            <br><br>
            <%= image_tag 'guest-show.jpg' %>
          <% else %><!--ｹﾞｽﾄでもﾛｸﾞｲﾝ中でもない場合-->
            <%= render '/layouts/user_info', user: @user %>
            <p><%= @user.introduction %></p>
          <% end %>
        </div><!--ユーザー情報-->

      <!--ユーザー投稿一覧-->
      <% @notes.each do |note| %>
        <% if note.present? %>
          <div class="note-contents note-contents2">
            <%= render '/public/shared/note_index', note: note %>
          </div>
        <% else %>
          まだノートがありません
        <% end %>
      <% end %>
      <%= paginate @notes, theme: 'twitter-bootstrap-4' %>
  <% end %>
</div>