<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @user.id == current_user.id %>
        <h1>My Note</h1>
      <% end %>

      <%= flash[:notice] %>

        <!--ユーザー情報-->
        <% if @user.id == current_user.id %><!--ﾕｰｻﾞｰがﾛｸﾞｲﾝ中ﾕｰｻﾞｰならuser/editへのﾘﾝｸ-->
          <%= link_to edit_user_path(@user.id) do %>
            <%= render '/layouts/user_info', user: @user %>
            <%= @user.introduction %>
          <% end %>
        <% else %>
          <%= render '/layouts/user_info', user: @user %>
          <%= @user.introduction %>
        <% end %>

        <!--ﾕｰｻﾞｰがﾛｸﾞｲﾝ中ならﾕｰｻﾞｰのいいねした投稿一覧へのﾘﾝｸ-->
      <% if @user.id == current_user.id %>
        <%= link_to "♥一覧", favorites_user_path(@user.id) %>
      <% end %>

      <!--ユーザー投稿一覧-->
      <% @notes.each do |note| %>
        <%= render '/public/shared/note_index', note: note %>
      <% end %>
    </div>
  </div>
</div>