
<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @user.id == current_user.id %>
        <h1>My Note</h1>
      <% end %>

      <%= flash[:notice] %>

        <!--ユーザー情報-->
        <% if @user.id == current_user.id %><!--ﾛｸﾞｲﾝ中ﾕｰｻﾞｰならuser/editへのﾘﾝｸ-->
          <%= link_to edit_user_path(@user.id) do %>
            <%= @user.name %>
            <%= image_tag @user.get_image, class: "rounded-circle" %>
            <%= @user.introduction %>
          <% end %>
        <% else %>
          <%= @user.name %>
          <%= image_tag @user.get_image, class: "rounded-circle" %>
          <%= @user.introduction %>
        <% end %>

        <!--ﾛｸﾞｲﾝ中ならﾕｰｻﾞｰのいいねした投稿一覧へのﾘﾝｸ-->
      <% if @user.id == current_user.id %>
        <%= link_to "♥一覧", favorites_user_path(@user.id) %>
      <% end %>

      <!--ユーザー投稿一覧-->
       <%= render '/public/shared/note_index', notes: @notes %>
    </div>
  </div>
</div>