<div class="container">
  <div class="row">
    <div class="col-12 main">
      <% if @user.id == current_user.id %>
        <h1>My Note</h1>
      <% end %>

      <%= flash[:notice] %>

        <!--ユーザー情報-->
        <!--ﾛｸﾞｲﾝ中かつｹﾞｽﾄじゃなければuser/editへのﾘﾝｸ含める-->
        <% if @user.id == current_user.id && @user.email != 'guest@gesuto.com' %>
          <%= link_to edit_user_path(@user.id) do %>
            <%= render '/layouts/user_info', user: @user %>
            <%= @user.introduction %>
          <% end %>
        <% elsif  @user.email == 'guest@gesuto.com' %><!--ｹﾞｽﾄﾕｰｻﾞｰの場合-->
          ゲストユーザーです　ユーザー登録して機能を使ってみましょう！ マイページ見本の画像が入る
        <% else %>
          <%= render '/layouts/user_info', user: @user %>
          <%= @user.introduction %>
        <% end %>

        <!--ﾛｸﾞｲﾝ中ならﾕｰｻﾞｰのいいねした投稿一覧へのﾘﾝｸ-->
      <% if @user.id == current_user.id && @user.email != 'guest@gesuto.com' %>
        <%= link_to "♥一覧", favorites_user_path(@user.id) %>
      <% end %>

      <!--ユーザー投稿一覧-->
      <% @notes.each do |note| %>
        <%= render '/public/shared/note_index', note: note %>
      <% end %>
    </div>
  </div>
</div>