
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>My Note</h1>
        <!--ユーザー情報-->
        <% if @user.id == current_user.id %><!--ログイン中ユーザーなら画像へeditﾘﾝｸ-->
          <%= link_to edit_user_path(@user.id) do %>
            <%= @user.name %>
            <%= image_tag @user.get_image, class: "rounded-circle" %>
            <%= @user.introduction %>
          <% end %>
        <% else %>
          <%= @user.name %>
          <%= image_tag @user.get_image, class: "rounded-circle" %>
          <%= @user.introduction %>
        <% end %>


        <!--ユーザー投稿一覧-->
        <% @notes.each do |note| %>
      <div class="note_box2_6">
        <h2><%= link_to note.title,note_path(note.id) %></h2>
        <p><%= link_to note.body, note_path(note.id) %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>