
<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @user.id == current_user.id %>
        <h1>My Note</h1>
      <% end %>

      <%= flash[:notice] %>

        <!--ユーザー情報-->
        <% if @user.id == current_user.id %><!--ログイン中ユーザーなら画像へeditﾘﾝｸ-->
          <%= link_to edit_user_path(@user.id) do %>
            <%= @user.name %>
            <%= image_tag @user.get_image, class: "rounded-circle" %>
            <%= @user.introduction %>
          <% end %>
        <% else %>
          <%= @user.name %>
          <%= image_tag @user.get_image, class: "rounded-circle" %>
          <%= @user.introduction %>
        <% end %>

      <!--ユーザー投稿一覧-->
       <%= render '/public/shared/note_index', notes: @notes %>
    </div>
  </div>
</div>