<% if user_signed_in? or admin_signed_in? %>
  <div class="footer-contents">
    <%= link_to "My Music NoteðŸ–Œ" , notes_path, class:"footer-logo mr-2" %>
    <%= link_to "åˆ©ç”¨è¦ç´„", tos_notes_path, class:"mx-2" %>
    <%= link_to "ãƒ—ãƒ©ã‚¤ãƒã‚·ãƒ¼ãƒãƒªã‚·ãƒ¼", privacy_policy_notes_path %>
  </div>
<% else %><!--ï¾›ï½¸ï¾žï½²ï¾å‰-->
  <%= link_to "åˆ©ç”¨è¦ç´„", tos_notes_path %>
  <%= link_to "ãƒ—ãƒ©ã‚¤ãƒã‚·ãƒ¼ãƒãƒªã‚·ãƒ¼", privacy_policy_notes_path, class:"ml-2" %>
<% end %>