<!--ログイン済ならば-->
<% if user_signed_in? %>
  <div class="header-wrapper">
    <div class="header-logo">
      <div class="mb-0"><%= link_to notes_path do %>My Music Note <i class="fas fa-pen-nib"></i><% end %></div>
      <div><%= link_to "応援し合い助け合う演奏コミュニティ♪" , notes_path, class: "ml-2" %></div>
    </div>

    <div id="humburger">
      <div class="icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!--ﾊﾝﾊﾞｰｶﾞｰﾒﾆｭｰのnav-->
    <nav>
      <ul class="header-nav-sm mb-0">
        <li><!--投稿一覧へのﾘﾝｸ-->
          <%= link_to "Notes", notes_path %>
        </li>
        <li><!--タグ一覧へのﾘﾝｸ-->
          <%= link_to "Tags", tags_path %>
        </li>
        <li><!--新規投稿画面へのﾘﾝｸ-->
          <%= link_to "New Page", new_note_path %>
        </li>
        <li><!--マイページへのﾘﾝｸ-->
          <%= link_to "My Note", user_path(current_user.id) %>
        </li>
        <li><!--ﾕｰｻﾞｰ一覧へのﾘﾝｸ-->
          <%= link_to "Users", users_path %>
        </li>
        <li><!--ﾛｸﾞｱｳﾄのﾘﾝｸ-->
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </nav>

    <nav><!--ｸﾞﾛｰﾊﾞﾙﾒﾆｭｰのnav-->
      <ul class="header-nav mb-0">
        <li><!--投稿一覧へのﾘﾝｸ-->
          <%= link_to "Notes", notes_path %>
        </li>
        <li><!--タグ一覧へのﾘﾝｸ-->
          <%= link_to "Tags", tags_path %>
        </li>
        <li><!--新規投稿画面へのﾘﾝｸ-->
          <%= link_to "New Page", new_note_path %>
        </li>
        <li><!--マイページへのﾘﾝｸ-->
          <%= link_to "My Note", user_path(current_user.id) %>
        </li>
        <li><!--ﾕｰｻﾞｰ一覧へのﾘﾝｸ-->
          <%= link_to "Users", users_path %>
        </li>
        <li><!--ﾛｸﾞｱｳﾄのﾘﾝｸ-->
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </nav>
  </div>

<!--管理者ログインした場合-->
<% elsif admin_signed_in? %>
  <div class="header-wrapper">
    <div class="header-logo">
      <div class="mb-0"><%= link_to admin_notes_path do %>My Music Note <i class="fas fa-pen-nib"></i><% end %></div>
      <div><%= link_to "管理者ログイン中" , admin_notes_path,class:"ml-2" %></div>
    </div>

    <div id="humburger">
      <div class="icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!--ﾊﾝﾊﾞｰｶﾞｰﾒﾆｭｰのnav-->
    <nav>
      <ul class="header-nav-sm mb-0">
        <li><!--投稿一覧へのﾘﾝｸ-->
          <%= link_to "Notes", admin_notes_path %>
        </li>
        <li><!--ｺﾒﾝﾄｰ一覧へのﾘﾝｸ-->
          <%= link_to "Comments", admin_note_note_comments_path(:note_id) %>
        </li>
        <li><!--ﾕｰｻﾞｰ一覧へのﾘﾝｸ-->
          <%= link_to "Users", admin_users_path %>
        </li>
        <li><!--タグ一覧へのﾘﾝｸ-->
          <%= link_to "Tags", admin_tags_path %>
        </li>
        <li><!--ﾛｸﾞｱｳﾄのﾘﾝｸ-->
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </nav>

    <nav><!--ｸﾞﾛｰﾊﾞﾙﾒﾆｭｰのnav-->
      <ul class="header-nav mb-0">
        <li><!--投稿一覧へのﾘﾝｸ-->
          <%= link_to "Notes", admin_notes_path %>
        </li>
        <li><!--ｺﾒﾝﾄｰ一覧へのﾘﾝｸ-->
          <%= link_to "Comments", admin_note_note_comments_path(:note_id) %>
        </li>
        <li><!--ﾕｰｻﾞｰ一覧へのﾘﾝｸ-->
          <%= link_to "Users", admin_users_path %>
        </li>
        <li><!--タグ一覧へのﾘﾝｸ-->
          <%= link_to "Tags", admin_tags_path %>
        </li>
        <li><!--ﾛｸﾞｱｳﾄのﾘﾝｸ-->
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </nav>
  </div>
<% end %>


