<nav class="navbar navbar-expand-lg">
  <div class="container header">
    <!--ãƒ­ã‚°ã‚¤ãƒ³æ¸ˆãªã‚‰ã°-->
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <span style="font-size: 1.2rem"><%= link_to "My Music NoteðŸ–Œ" , notes_path,class:"header-nav" %></span>
        <ul class="navbar-nav ml-auto">
          <li><!--æŠ•ç¨¿ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
            <%= link_to "Notes", notes_path, class:"mx-3 header-nav" %>
          </li>
          <li><!--ã‚¿ã‚°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
            <%= link_to "Tags", tags_path, class:"mx-3 header-nav" %>
          </li>
          <li><!--æ–°è¦æŠ•ç¨¿ç”»é¢ã¸ã®ï¾˜ï¾ï½¸-->
            <%= link_to "New Page", new_note_path, class:"mx-3 header-nav" %>
          </li>
          <li><!--ãƒžã‚¤ãƒšãƒ¼ã‚¸ã¸ã®ï¾˜ï¾ï½¸-->
            <%= link_to "My Note", user_path(current_user.id), class:"mx-3 header-nav" %>
          </li>
          <li><!--ï¾•ï½°ï½»ï¾žï½°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
            <%= link_to "Users", users_path, class:"mx-3 header-nav" %>
          </li>
          <li><!--ï¾›ï½¸ï¾žï½±ï½³ï¾„ã®ï¾˜ï¾ï½¸-->
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"mx-3 header-nav" %>
          </li>
          <li style="font-size: 1rem" class="tos-li"><!--åˆ©ç”¨è¦ç´„ã¸ã®ï¾˜ï¾ï½¸-->
            <%= link_to "åˆ©ç”¨è¦ç´„", tos_notes_path, class:"ml-3 header-nav" %>
          </li>
          </ul>
        </div>
    <% elsif admin_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <span style="font-size: 1.2rem"><%= link_to "My Music NoteðŸ–Œ" , admin_notes_path,class:"header-nav" %></span>
        <ul class="navbar-nav ml-auto">
          <li><!--æŠ•ç¨¿ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
            <%= link_to "Notes", admin_notes_path, class:"mr-3 header-nav" %>
          </li>
          <li><!--ï½ºï¾’ï¾ï¾„ï½°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
            <%= link_to "Comments", admin_note_note_comments_path(:note_id), class:"mr-3 header-nav" %>
          </li>
          <li><!--ï¾•ï½°ï½»ï¾žï½°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
            <%= link_to "Users", admin_users_path, class:"mr-3 header-nav" %>
          </li>
          <li><!--ã‚¿ã‚°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
            <%= link_to "Tags", admin_tags_path, class:"mr-3 header-nav" %>
          </li>
          <li><!--ï¾›ï½¸ï¾žï½±ï½³ï¾„ã®ï¾˜ï¾ï½¸-->
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"header-nav" %>
          </li>
        </ul>
      </div>
    <% end %>
    </ul>
  </div>
</nav>