<!--ãƒ­ã‚°ã‚¤ãƒ³æ¸ˆãªã‚‰ã°-->
<% if user_signed_in? %>
  <div class="header-wrapper">
    <div class="header-logo">
      <div class="mb-0" style="font-size: 1.3rem">
        <%= link_to "My Music NoteðŸ–Œ" , notes_path%>
      </div>
      <div style="font-size: 1.1rem;"><%= link_to "å¿œæ´ã—åˆã„åŠ©ã‘åˆã†æ¼”å¥ã‚³ãƒŸãƒ¥ãƒ‹ãƒ†ã‚£â™ª" , notes_path, class: "ml-2" %></div>
    </div>
    
    <div id="humburger">
      <div class="icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    
    <nav>
      <ul class="header-nav-sm mb-0">
        <li><!--æŠ•ç¨¿ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Notes", admin_notes_path, class:"mr-3" %>
        </li>
        <li><!--ï½ºï¾’ï¾ï¾„ï½°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Comments", admin_note_note_comments_path(:note_id), class:"mr-3" %>
        </li>
        <li><!--ï¾•ï½°ï½»ï¾žï½°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Users", admin_users_path, class:"mr-3" %>
        </li>
        <li><!--ã‚¿ã‚°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Tags", admin_tags_path, class:"mr-3" %>
        </li>
        <li><!--ï¾›ï½¸ï¾žï½±ï½³ï¾„ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"mr-3" %>
        </li>
      </ul>
    </nav>
    
    <nav>
      <ul class="header-nav mb-0">
        <li><!--æŠ•ç¨¿ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Notes", notes_path, class:"mx-3" %>
        </li>
        <li><!--ã‚¿ã‚°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Tags", tags_path, class:"mx-3" %>
        </li>
        <li><!--æ–°è¦æŠ•ç¨¿ç”»é¢ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "New Page", new_note_path, class:"mx-3" %>
        </li>
        <li><!--ãƒžã‚¤ãƒšãƒ¼ã‚¸ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "My Note", user_path(current_user.id), class:"mx-3" %>
        </li>
        <li><!--ï¾•ï½°ï½»ï¾žï½°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Users", users_path, class:"mx-3" %>
        </li>
        <li><!--ï¾›ï½¸ï¾žï½±ï½³ï¾„ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"mx-3" %>
        </li>
      </ul>
    </nav>
  </div>
    
<!--ç®¡ç†è€…ãƒ­ã‚°ã‚¤ãƒ³ã—ãŸå ´åˆ-->  
<% elsif admin_signed_in? %>
  <div class="header-wrapper">
    <div class="header-logo">
      <p class="mb-0" style="font-size: 1.2rem">
        <%= link_to "My Music NoteðŸ–Œ" , admin_notes_path %>
        <span style="font-size: 1.1rem;"><%= link_to "ç®¡ç†è€…ãƒ­ã‚°ã‚¤ãƒ³ä¸­" , admin_notes_path,class:"ml-2" %></span>
      </p>
    </div>
    
    <div id="humburger">
      <div class="icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    
    <nav class="sm">
      <ul class="header-nav mb-0">
        <li><!--æŠ•ç¨¿ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Notes", admin_notes_path, class:"mr-3" %>
        </li>
        <li><!--ï½ºï¾’ï¾ï¾„ï½°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Comments", admin_note_note_comments_path(:note_id), class:"mr-3" %>
        </li>
        <li><!--ï¾•ï½°ï½»ï¾žï½°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Users", admin_users_path, class:"mr-3" %>
        </li>
        <li><!--ã‚¿ã‚°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Tags", admin_tags_path, class:"mr-3" %>
        </li>
        <li><!--ï¾›ï½¸ï¾žï½±ï½³ï¾„ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"mx-3" %>
        </li>
      </ul>
    </nav>
    
    <nav class="lg">
      <ul class="header-nav mb-0">
        <li><!--æŠ•ç¨¿ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Notes", admin_notes_path, class:"mr-3" %>
        </li>
        <li><!--ï½ºï¾’ï¾ï¾„ï½°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Comments", admin_note_note_comments_path(:note_id), class:"mr-3" %>
        </li>
        <li><!--ï¾•ï½°ï½»ï¾žï½°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Users", admin_users_path, class:"mr-3" %>
        </li>
        <li><!--ã‚¿ã‚°ä¸€è¦§ã¸ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Tags", admin_tags_path, class:"mr-3" %>
        </li>
        <li><!--ï¾›ï½¸ï¾žï½±ï½³ï¾„ã®ï¾˜ï¾ï½¸-->
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"mx-3" %>
        </li>
      </ul>
    </nav>
  </div>
<% end %>


